<h1>Livros disponíveis:</h1>

<div class="books-container">
    <a href="/" class="button">Inserir Novo Livro</a>
    {{#each books}}
        <div>#{{this.id}} - <span class="bold"><a href="/books/{{this.id}}">
        {{this.titulo}}</a></span> 
        - {{this.paginas}} páginas</div>
    {{/each}}

</div>

